<mat-toolbar  color="primary" class="app-header">
    <button mat-button (click)="openHomeComponent()">
        <mat-icon>home</mat-icon> <span > Home</span>
    </button>
    <button mat-button (click)="openFriendsComponent()" >
        <mat-icon>people</mat-icon> <span> Friends</span>   
    </button>
    <button class="selected-btn" mat-button >
        <mat-icon>person</mat-icon><span> Profile</span>
    </button>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-content class="profile-card">
          <img [src]="currUser.imageUrl" height="300px" class="profile-img" >
          <h3>{{currUser.username}}</h3>
          <hr>
          <h3>{{currUser.email}}</h3>
          <hr>
          <div>
            <p>Friends</p>
            <p>Posts</p>
          </div>
          <div>
            <h3 >{{currUser.friendsList.length}}</h3>
            <h3 >{{currUser.posts.length}}</h3>
          </div>
          <button class="logout-btn" mat-button (click)="logout()" >
            <mat-icon>exit_to_app</mat-icon><span> Logout</span>
          </button>
      </mat-card-content>
    </mat-card>
</div>
