<mat-toolbar  color="primary" class="app-header">
    <button mat-button (click)="openHomeComponent()">
        <mat-icon>home</mat-icon> <span > Home</span>
    </button>
    <button mat-button class="selected-btn" >
        <mat-icon>people</mat-icon> <span> Friends</span>   
    </button>
    <button mat-button (click)="openProfileComponent()" >
        <mat-icon>person</mat-icon><span> Profile</span>
    </button>
</mat-toolbar>

<div class="login-wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="box">
        <mat-nav-list>
            <mat-list-item class="list-item" *ngFor="let friendRequest of allFriendsList">
                <div>
                    <img [src]="friendRequest.imageUrl" class="img-item" height="130px" width="130px" >
                </div>   
                <div>
                    <div>
                        <h2>{{friendRequest.username}}</h2>
                       <button  (click)="sendFreiendRequest(friendRequest)">{{friendRequest.friendStatus}}</button>
                   </div>
               </div>
               </mat-list-item>
        </mat-nav-list>
</div>
    <button mat-raised-button (click)="openFriendsRequests()">
        <mat-icon>person_add</mat-icon>
    Friends Requests  
    </button>
</div>