.list-item{
    margin: 5px !important;
    border:2px dotted aqua;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    height: 150px !important;
    :first-child{
        margin-right: 20px;
    }
    :last-child{
        align-items: center;
        justify-content: center;
        >button{
            background-color: aqua;
        }
    }
}

.img-item{
    border-radius: 80px !important;
}