<mat-toolbar  color="primary" class="app-header">
    <button mat-button class="selected-btn">
        <mat-icon>home</mat-icon> <span > Home</span>
    </button>
    <button mat-button (click)="openFriendsComponent()" >
        <mat-icon>people</mat-icon> <span> Friends</span>   
    </button>
    <button mat-button (click)="openProfileComponent()" >
        <mat-icon>person</mat-icon><span> Profile</span>
    </button>
</mat-toolbar>
<!-- <div class="login-wrapper">
    <mat-card>
        <button mat-button (click)="openProfileComponent()" >
            <mat-icon>post_add</mat-icon><span> Write New Post!</span>
        </button>
        
    </mat-card>
</div> -->
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <button>
        <mat-icon>post_add</mat-icon>
    </button>
    
    <div class="box">
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            <mat-list-item> Pepper </mat-list-item>
        </mat-list>
    </div>
</div>    

<footer class="footer-lbl">
    <button mat-button (click)="makeJoke()">
        <h1>Click Here to Read Joke of the Day </h1>
    </button>
</footer>