<mat-toolbar  color="primary" class="app-header">
    <button mat-button class="selected-btn">
        <mat-icon>home</mat-icon> <span > Home</span>
    </button>
    <button mat-button (click)="openFriendsComponent()" >
        <mat-icon>people</mat-icon> <span> Friends</span>   
    </button>
    <button mat-button (click)="openProfileComponent()" >
        <mat-icon>person</mat-icon><span> Profile</span>
    </button>
</mat-toolbar>
<!-- <div class="login-wrapper">
    <mat-card>
        <button mat-button (click)="openProfileComponent()" >
            <mat-icon>post_add</mat-icon><span> Write New Post!</span>
        </button>
        
    </mat-card>
</div> -->
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <button mat-button (click)="makeJoke()">
        <h1>Click Here to Read Joke of the Day </h1>
    </button>
    <div class="box">
        <mat-list class="row" *ngFor="let item of friendsPostsList">
             <mat-list-item class="col-sm-7" style="background-color:red"> 
                <div>
                    <h4>{{item.username}} </h4>
                    <h6>{{item.text}}</h6>
                    <img [src]="item.imageUrl" width="100px" height="50px">
                </div>
            </mat-list-item>
        </mat-list>
    </div>    
    <button mat-raised-button (click)="writePost()">
        <mat-icon>post_add</mat-icon>
    Write New Post 
    </button>
</div>
